<h3>Задание:</h3> 
<p>Простое число называется числом Мерсена, если оно может быть пред-
ставлено в виде 2p − 1, где p – тоже простое число. Написать программу,
определяющую количество чисел Мерсена ≤ некоторого n (n вводится с
клавиатуры). Вывести на печать числа Месена и их количество в ука-
занном диапазоне.</p>
<h4>Ввод</h4>
<%= form_with url: "/result", method: :get do |form| %>
  <p><%= form.label :query, "Введите положительное число n" %></p>
  <p><%= form.number_field(:num, {:class => 'form-control'}) %></p>
  <p><%= form.submit "Найти числа Мерсена до n" %></p>
<% end %>